version: '3'

services:
  traefik:
    image: traefik:latest
    restart: unless-stopped
    command: 
      - "--api.insecure=true"
      - "--providers.docker"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.address=:80"
    ports:
        - "80:80"
        - "443:443"
        - "8080:8080"
    networks:
      - raspi
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      #- ./traefik.yml:/etc/traefik/traefik.yml
      #- ./run/conf:/traefik/conf
      #- ./run/ssl:/traefik/ssl
      #- ./run/logs:/traefik/logs

networks: 
  raspi: 
    external: 
      name: raspi